*{
    margin: 0;
    padding: 0;
}
body{
   display: flex;
   justify-content: center;
   
}
.container{
    height: 600px;
    width: 600px;
    padding: 60px 40px;
    border: 2px solid black;
    border-radius: 5px;
}
img{
    display:none;
    width:100%;
  }